<nav class="user-navbar">
  <div class="nav-logo">
    <a href="/">☕ KopiDaeng</a>
  </div>

  <div class="nav-right">
    <a href="/users/login" class="btn-login">Login</a>
    <a href="/users/register" class="btn-login">Daftar</a>
  </div>
</nav>
